.slider-img{
    position: absolute;
    z-index: 1;
    height: 100%;
}
.slider-img_shadow{
    position: absolute;
    height: 100%;
    filter: blur(35px);
    -webkit-filter: blur(35px); /* Safari 6.0 - 9.0 */
}
@media (max-width: 576px) {
    .slider-img{
        height: auto;
        max-width: 100vw;
    }
    .slider-img_shadow{
        height: auto;
        max-width: 100vw;
    }
}